[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
    opacity: 0;
}

@font-face {
    font-family: 'allerregular'; /*a name to be used later*/
    src: url('../fonts/Aller/Regular/aller-regular-webfont.eot?') format('eot'), url('../fonts/Aller/Regular/aller-regular-webfont.woff') format('woff'), url('../fonts/Aller/Regular/aller-regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'allerlight'; /*a name to be used later*/
    src: url('../fonts/Aller/Light/aller-light-webfont.eot?') format('eot'), url('../fonts/Aller/Light/aller-light-webfont.woff') format('woff'), url('../fonts/Light/Regular/aller-light-webfont.ttf') format('truetype');
}

body {
  font-family: 'allerregular', sans-serif;
  color: #ffffff;
  background: #333943;
}

.red{
    color: #F04E23;
    font-size: 20px;
    vertical-align: sub;
}

.hide,.ng-hide{
    display: none !important;
}



.show, .ng-show{

    display: block !important;
}

h1{
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
}

p{
    font-family: 'allerlight', sans-serif;
    margin: 0 0 5px;
}

span{
    color: #838C9B;
    margin-left: 10px;
    display: inline-block;
}

.container {
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#popup {
    min-width: 300px;
    width: 300px;
    height: 250px;
    margin: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.url-data p{
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: #838C9B;
    overflow: hidden;
}

#logo{
    background: url("../img/logo.png") no-repeat;
    background-size: 114px 21px;
    height: 21px;
    width: 114px;
    display: inline-block;
    vertical-align: middle;
    float: right;
}


input[type="text"], input{
    color: black;
    width: 100%;
    margin-bottom: 15px;
    height: 32px;
}

input[type="submit"], button{
    width: 110px;
    display: block;
    background-color: #F04E23;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    border: 0;
    color: white;
    height: 32px;
    display: inline-block;
}

input[type="submit"]:hover, button:hover{
    background-color: #B53C1C;
}

input.ng-invalid{
    outline: 1px solid #F04E23;
}

button[disabled], html input[disabled]{
    background-color: #C7C7C7;
    pointer-events : none;
}

.user-info .loggedin{
    color: #838C9B;
    margin-bottom: 0px;
}

.user-info .loggedinas{
    color: white;
    margin-left: 0px;
    width: 160px
}

.new-link p, .user-info p {
    margin-right: 15px;
}
.new-link .newlink{
    margin-right: 15px;
    color: #F04E23;
    font-size: 16px;
    margin-left: 0px;
}

.new-link span{
    font-size: 10px;
}

.customize-auto input{
    width: 30%;
    height: 14px;
    vertical-align: baseline;
}

.user-login h1{
    margin-top: 0px;
}

.user-login a {
    color: #F04E23;
    text-decoration: none;
    font-size: 10px;
    margin-left: 10px;
}

.user-login a:hover{
    color: #B53C1C;
}

.user-info{
    margin-bottom: 5px;
}

.error{
    margin-left: 0px;
    color: #F04E23;
}



#actionbar{
    height: 26px;
}
#actionbar a {
    font-size: 2.0rem;
    color: #ffffff;
}

.new-link{
 margin-bottom: 10px;
}

.new-link h1{
    margin-top: 30px;
}

.onCreatedlink .new-link h1{

}

.copy-link h1{
    margin-top: 0px;
}

/*Animations*/
.layout-default, .layout-custom-url, .settings{
    -webkit-animation: fadein 0.2s; /* Safari and Chrome */
    -moz-animation: fadein 0.2s; /* Firefox */
    -ms-animation: fadein 0.2s; /* Internet Explorer */
    -o-animation: fadein 0.2s; /* Opera */
    animation: fadein 0.2s;
    height: 100%;
}

@keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
     0% { opacity: 0; }
     100%   { opacity: 1; }
 }​