[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
    opacity: 0;
}

@font-face {
    font-family: 'allerregular'; /*a name to be used later*/
    src: url('../fonts/Aller/Regular/aller-regular-webfont.eot?') format('eot'), url('../fonts/Aller/Regular/aller-regular-webfont.woff') format('woff'), url('../fonts/Aller/Regular/aller-regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'allerlight'; /*a name to be used later*/
    src: url('../fonts/Aller/Light/aller-light-webfont.eot?') format('eot'), url('../fonts/Aller/Light/aller-light-webfont.woff') format('woff'), url('../fonts/Light/Regular/aller-light-webfont.ttf') format('truetype');
}

html{
    width: 440px;
    height: 740px;
}

body {
    width: 440px;
    height: 740px;
    font-family: 'allerregular', sans-serif;
    color: #535353;
    background: #f7f7f7;
}

h1{
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
}

p{
    font-family: 'allerlight', sans-serif;
    margin: 0 0 5px;
}


.container {
    margin: 0px 20px 0px 20px;
}

#popup {
    width: 440px;
    height: 740px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.imagecontainer{
    margin-left: -20px;
}

.url-data p{
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: #838C9B;
    overflow: hidden;
}

input[type="text"], input{
    color: black;
    width: 100%;
    margin-bottom: 15px;
    height: 32px;
}

input[type="submit"], button{
    width: 50px;
    display: block;
    background-color: #F04E23;
    cursor: pointer;
    font-size: 16px;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    border: 0;
    color: white;
    height: 50px;
    float: right;
}

input[type="submit"]:hover, button:hover{
    background-color: #B53C1C;
}

input.ng-invalid{
    outline: 1px solid #F04E23;
}

button[disabled], html input[disabled]{
    background-color: #C7C7C7;
    pointer-events : none;
}

.user-info .loggedin{
    color: #838C9B;
    margin-bottom: 0px;
}

.user-info .loggedinas{
    color: white;
    margin-left: 0px;
    width: 160px
}

.new-link{
    background-color: #FFF;
    margin: auto auto;
    display: block;
    width: 100%;
    height: 50px;
}

.new-link p, .user-info p {
    margin-right: 15px;
}

.new-link .link{
    margin-right: 15px;
    color: #9c9c9c;
    font-size: 25px;
    display: inline-block;
    margin-left: 15px;
    margin-top: 7px;
}

.new-link span{
    font-size: 10px;
}

.customize-auto input{
    width: 30%;
    height: 14px;
    vertical-align: baseline;
}

.user-login h1{
    margin-top: 0px;
}

.user-login a {
    color: #F04E23;
    text-decoration: none;
    font-size: 10px;
    margin-left: 10px;
}

.user-login a:hover{
    color: #B53C1C;
}

.user-info{
    margin-bottom: 5px;
}

/*List items*/
.list-items{

}

.list-items button{
    background-color: #7c899a;
}

.list-items img{
    vertical-align: top;
}

.list-items .clicks, .list-items .shares{
    color: #7c899a;
}

.list-items .shares:before{
    content: " ";
    background-image: url("../img/shares.png");
    background-repeat: no-repeat;
    background-size: 12px 14px;
    width: 14px;
    height: 12px;
    display: inline-block;
}
.list-items .clicks:before{
    content: " ";
    background-image: url("../img/clicks.png");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.list-text-container{
    width: 297px;
}

.list-text{
    height: 50px;
    background-color: #FFF;
    margin-left: 10px;
    height: 50px;
}

.list-text .link{
    margin-left: 15px;
    display: inline-block;
    margin-top: 15px;
}

/*Bottom bar*/
#actionbar a {
    font-size: 2.0rem;
    color: #575757;
}

/*Helpers*/
.hide, .ng-hide{
    display: none !important;
}

.show, .ng-show{
    display: block !important;
}

.inlineblock{
    display: inline-block;
}

.block{
    display: block;
}

/*Line*/
.line{
    border-top: 1px solid #EBEBEB;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Animations*/
.layout-default, .layout-custom-url, .settings{
    -webkit-animation: fadein 0.2s; /* Safari and Chrome */
    -moz-animation: fadein 0.2s; /* Firefox */
    -ms-animation: fadein 0.2s; /* Internet Explorer */
    -o-animation: fadein 0.2s; /* Opera */
    animation: fadein 0.2s;
    height: 100%;
}

@keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
     0% { opacity: 0; }
     100%   { opacity: 1; }
 }​