<div>

    <div class="imagecontainer">
        <img src="img/dummy_top.jpg" alt="top_img">
        <div>
            <span>
                <span ng-show="autoCopy && fetching == false">Copied to clipboard</span>
            </span>
        </div>
    </div>

	<div class="layout-default">
		<div class="onCreatedlink">
			<div class="url-thumbnail"></div>
			<div class="url-data">
				    <p>{{title}}</p>
                    <p>{{description}}</p>
			</div>

			<div class="new-link">
				<span class="link">{{newLink}}</span>
                <button class="copy-link" ng-click="copyToClipboard(newLink)" ng-show="!autoCopy && fetching == false">Copy</button>
			</div>
		</div>
	</div>

    <div class="line"></div>

    <div class="list-items">
        <img class="inlineblock" src="img/dummy_list.png" alt="list image"/>
        <div class="inlineblock list-text-container">
            <div class="list-text">
              <span class="link">{{newLink}}</span>
              <button class="copy-link" ng-click="copyToClipboard(newLink)">Copy</button>
            </div>
            <div class="info">
                <span class="clicks">
                    1250 Clicks
                </span>
                <span class="shares">
                    22 Shares
                </span>
            </div>
        </div>
    </div>

    <div class="line"></div>

    <div id="actionbar">
        <div>
            <img src="img/user_dummy.png" alt="userdummy"/>
            <span class="username">Username Username</span>
            <span>
                <a class="glyphicon glyphicon-cog" href="#/settings"></a>
            </span>
        </div>
    </div>
</div>