<div>
	<div id="actionbar">
		  <ul class="list-inline">
		    <li><a class="glyphicon glyphicon-cog" href="#/settings"></a></li>
		  </ul>
	</div>

	<div class="layout-default" ng-show="true">
		<header>
		    <h2>Here you go! {{urlIsLoaded}}</h2>
		</header>
		
		<h2>Webage info:</h2>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

			    <div>{{title}}</div>
				<div>{{url}}</div>
				<!-- <div>{{pageInfos}}</div> -->
			</div>
		</div>

	    <h2>New Link:</h2>
		<div>{{newLink}}</div>
	</div>
</div>