<div class="user-login" ng-cloak>
    <div class="logo">
        <img src="img/logo.png" alt="logo"/>
    </div>
	<form class="loginform" name="loginform" ng-submit="login(user)" novalidate>
	  <input type="email" ng-model="user.email" placeholder="E-mail" required/>
	  <input type="password" ng-model="user.pass" placeholder="Password" required/>
        <p class="modal-error" ng-show="loginform.user.email.$dirty && loginform.user.email.$invalid">
            <span ng-show="loginform.user.email.$error.required">Input email.</span>
            <span ng-show="loginform.user.email.$error.email">This is not a valid email.</span>
            <span ng-show="loginform.user.email.$error.unique">Email eksisterer allerede i systemet.</span>
        </p>
	    <input ng-disabled="loginform.$invalid" type="submit" value="Sign in" />
        <a href="" ng-click= "goToLinkfire()">Don't have a Linkfire account yet?</a>
    </form>
    <span class="error" ng-class="{fadein : login_in === false, hide : login_in === true}">There was an error login in</span>
    <div class="line"></div>
    <span class="social-placeholder-text">- Or sign in with your social profiles (coming soon)</span>
    <div class="social-placeholder"></div>

    <!--<div id="fb-root"></div>-->
    <!--<fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>-->
</div>