<div class="settings">
	<div id="actionbar">
		  <ul class="list-inline">
		    <li><a class="glyphicon glyphicon-arrow-left" ng-click="storeChanges()" href="#/"></a></li>
		  </ul>
	</div>
	
	<h1>Settings</h1>
	<div class="user-info">
		<p class="loggedin">Logged in as: </p>
        <span class="loggedinas">{{username}}</span>
		<button class="sign-out" ng-click="signOut()" >Sign out</button>
	</div>
	<div class="customize-auto">
		<form ng-submit="save()">
				<label for="auto-url">Auto url:</label>
				<input id="auto-url" type="checkbox"
			          ng-model="url"
			          placeholder="Enter email" />
			    <p>Loads url of current webpage automatically</p>
			    <label for="auto-url">Auto copy:</label>
				<input id="auto-copy" type="checkbox"
			          ng-model="copy" value="true"
			          label="Enter password" />
			   <p>Copy new url to clipboard automatically</p>

		</form>
	</div>
</div>