<div class="settings">
	<div id="actionbar">
		  <ul class="list-inline">
		    <li><a class="glyphicon glyphicon-arrow-left" href="#/"></a></li>
		  </ul>
	</div>
	
	<h2>Settings</h2>

	
	<div class="user-login" ng-show="true">
		<form ng-submit="save()">
		  <input type="text"
		          ng-model="user.emal"
		          placeholder="Enter email" />
		  <input type="text"
		          ng-model="user.password"
		          placeholder="Enter password" />
		  <input class="btn btn-primary" 
		        type="submit" value="Login" />
		</form>
	</div>
	
	
	<div class="customize-auto">
		<form ng-submit="save()">
			<div class="row">
				<label for="auto-url">Auto url:</label>
				<input id="auto-url" type="checkbox"
			          ng-model="auto.url"
			          placeholder="Enter email" />
			    <p>Loads url of current webpage automatically</p>
			</div>
			<div class="row">
			    <label for="auto-url">Auto copy:</label>
				<input id="auto-copy" type="checkbox"
			          ng-model="auto.copy"
			          label="Enter password" />
			   <p>Copy new url to clipboard automatically</p>
			</div>
		
		</form>
	</div>
</div>