<div class="settings">
	<div id="actionbar">
	<a class="glyphicon glyphicon-arrow-left" ng-click="storeChanges()"></a>
	</div>

	<h1>Settings</h1>
	<div class="customize-auto">
		<form ng-submit="save()">
			    <label for="auto-copy">Auto copy:</label>
				<input id="auto-copy" type="checkbox" ng-model="copy" value="false"/>
			   <p>Copy new url to clipboard automatically</p>
		</form>
	</div>
    <div class="user-info">
        <p class="loggedin">Logged in as: </p>
        <span class="loggedinas">{{userEmail}}</span>
        <button class="sign-out" ng-click="signOut()" >Sign out</button>
    </div>
</div>